<div class="flight-table-div">
  <table class="table">
    <thead>
      <tr>
        <th>Aircraft Name</th>
        <th>Tail Number</th>
        <th>Origin Airport</th>
        <th>Destination</th>
        <th>Flight Date </th>
      </tr>
    </thead>
    <tbody>
      <%= render flights %>
    </tbody>
  </table>
</div>
