<div class="pages">
  <div class= "container">
    <div class= "row  myFlights">
      <div class = "col-md-12">
        <div class="panel-body" align ="center">
          <h3 class="header">All Flights</h3>
          <%= render 'flight_table', flights: @flights %>
        </div>
      </div>
    </div>
  </div>
</div>