  <div class="pages">
    <div class= "container">
      <div class= "row">
        <%= bootstrap_flash %>
        <div class = "col-md-12">
          <div class="panel-body" align ="center">
            <h2 class="text-center header">Bookings</h2>
              <%= render @bookings %>
          </div>
        </div>
      </div>
    </div>
  </div>
