<section id="main-view" data-speed="6" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 well pull-right">
        <h3 class="text-center">Book a flight</h1>
        <p></p>
        <br>
        <%= render 'flight/form' %>
      </div>
    </div>
  </div>
</section>

<section id="result-view" data-speed="6" data-type="background">
  <div class="container" id="all-flights">
  </div>
</section>