body {
  background: url('https://static.pexels.com/photos/9482/plane.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

#result-view {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 50px 0;
}

.home-result{
  position: relative;
  padding-bottom: 40px;
  max-width: 100%;
  margin-bottom: none;
  background:#fff;
}

.flight-list{
  border-bottom: solid 5px #2E9AFE;
  border-radius: 10px;
}

.search-airline{
  margin-top: 20px;
}

.search-price{
  margin-top: 40px;
}

.logo-text {
  font-size: 30px !important;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.notice {
  position: relative;
  left: 21rem;
  top: 10rem;
  display: none;
  p {
    font-weight: bold;
  }
}
