  <%= render 'layouts/navbar' %>
    <footer class="footer">
      <div class="">
        <ul class="">

        </ul>
      </div>
    </footer>
    <a href="" target="" id="v" class="">View Source</a>
  </body>
  </div>
</html>
